<div class="heroDiv">
  @if (currentArticle) {
  <!-- <div
    class="articles-background"
    [style]="themeService.getArticlesBackgroundStyles(sourceScreen)"
  ></div> -->
  <app-article-top-nav
    #topNav
    [sourceScreen]="sourceScreen"
    (clickConnect)="clickConnectOnChild()"
    (clickMenu)="clickMenuOnChild()"
    (shiftC)="pressedShiftCOnChild()"
    (shiftM)="pressedShiftMOnChild()"
    [style]="themeService.getTopNavStyles(sourceScreen)"
  ></app-article-top-nav>
  <app-bottom-nav
    [sourceScreen]="sourceScreen"
    [style]="themeService.getBottomNavStyles(sourceScreen)"
  ></app-bottom-nav>
  <div class="blackened-background"></div>
  <app-article-container
    [style]="themeService.getArticleContainerStyles(sourceScreen)"
    [sourceScreen]="sourceScreen"
    (goBack)="handleGoBack($event)"
    class="article"
  ></app-article-container>
  <app-articles-container
    [sourceScreen]="sourceScreen"
    [style]="themeService.getArticlesContainerStyles(sourceScreen)"
  ></app-articles-container>
  } @else {
  <div class="not-found">
    <h1>Article Not Found</h1>
    <p>Sorry, the article you're looking for doesn't exist.</p>
    <button (click)="clickMenuOnChild()">Back to Menu</button>
  </div>
  }
</div>
