/* p {
  color: var(--nav-color, white);
} */

.holder-div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  background: none;
  z-index: 9999;
}

.grey-div {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  flex-shrink: 0;
  background: var(--nav-bg, #c6c8c8);
}

.grey-div p {
  color: var(--nav-color, white);
  cursor: none !important;
  font-weight: var(--font-weight, 500);
}

.blue-div {
  display: flex;
  height: 40px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  background: var(--beta-bg, #6f7a83);
}

.blue-div p {
  color: var(--beta-color, white);
  font-weight: var(--font-weight, 500);
}

@media (max-width: 450px) {
  p {
    font-size: smaller;
  }
}
