<div class="outer-container">
  <div class="small-div">
    <small>about</small>
  </div>
  <div class="inner-container">
    <p>Aron is a junior creative developer with a super diverse skill-set.</p>
    <br />
    <p>
      The most complex project that he built is
      <a href="careeverz.com">CareeVerz.com</a> . Where as a founder he
      recruited and led team of four and did the research, ux and ui. Currently
      he is the product manager, and joined the front-end development.
    </p>
    <br />
    <p>
      Aronsnotes.com is his effort to go deep in the quest of making a great
      WebApp.
    </p>
    <br />
    <p>Hit him up with an email: apple.aron&#64;gmail.com</p>
  </div>
</div>
