<div class="outer-container">
  <div class="small-div">
    <div class="traffic-lights">
      <svg
        class="traffic-lights-svg"
        width="52"
        height="12"
        viewBox="0 0 52 12"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          (click)="closeSubmenu()"
          class="svg-quit"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12Z"
          fill="#ef5747"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M26 12C29.3137 12 32 9.31371 32 6C32 2.68629 29.3137 0 26 0C22.6863 0 20 2.68629 20 6C20 9.31371 22.6863 12 26 12Z"
          fill="#6F7A83"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M46 12C49.3137 12 52 9.31371 52 6C52 2.68629 49.3137 0 46 0C42.6863 0 40 2.68629 40 6C40 9.31371 42.6863 12 46 12Z"
          fill="#6F7A83"
        />
      </svg>
    </div>
    <small>connect</small>
  </div>

  <div class="inner-container">
    <div class="row">
      <div class="column">
        <div
          id="about-text"
          [innerHTML]="aboutText"
          style="background: none"
        ></div>
        <div class="social-icons">
          <a
            href="mailto:hello@aron.peter.kovacs@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              src="assets/img/socials/emailNoColor.svg"
              id="email-icon"
              alt="email"
              title="shoot me an email"
          /></a>
          <a
            href="https://www.linkedin.com/in/aronpeterkovacs/"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              src="assets/img/socials/linkedinNoColor.svg"
              id="linkedin-icon"
              alt="linkedin"
              title="connect with me on linkedin"
          /></a>
          <a
            href="https://github.com/mixedoff/aronsnotes.com"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              src="assets/img/socials/githubNoColor.svg"
              id="github-icon"
              alt="github"
              title="check out aronsnotes.com's repo"
          /></a>
          <a
            href="https://open.spotify.com/playlist/03MWXF2YPEd3eUZETTAR1B?si=db3c798792124d1a"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              src="assets/img/socials/spotifyNoColor.svg"
              id="spotify-icon"
              alt="spotify"
              title="I am a huge information junkie. I curated my favourite podcasts on business, tech and more here:"
          /></a>
          <a
            href="https://www.instagram.com/misterkovax/"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              src="assets/img/socials/instagramNoColor.svg"
              id="instagram-icon"
              alt="instagram"
              title="i post some of my designs and personal stuff here"
          /></a>
        </div>
      </div>
      <div class="img-column">
        <img
          class="profile-picture"
          src="assets/img/profile-picture/looking-left.svg"
          alt="profile picture"
        />
      </div>
    </div>
  </div>
</div>
