<div class="heroDiv">
  <app-top-nav [navTitle]="'secret screen'"></app-top-nav>
  <div class="icons-container">
    <div class="icon-container">
      <div
        class="icon-holder"
        style="margin-top: 100px; width: 54px; height: 54px"
        (dblclick)="clickMenuOnChild()"
      >
        <img
          src="assets/img/hidden-screen/webapps-icon.png"
          alt="webapps-icon"
        />
      </div>
      <small style="color: white">web design</small>
    </div>
    <div class="icon-container">
      <div
        class="icon-holder"
        (dblclick)="clickBooknotesScreen()"
        (touchstart)="clickBooknotesScreen()"
      >
        <img
          src="assets/img/hidden-screen/booknotes-icon.png"
          alt="booknotes-icon"
        />
      </div>
      <small style="color: white">book notes</small>
    </div>
  </div>
  <app-bottom-nav
    style="--grey-div-color: #000; --nav-bg: #c6c8c8; --beta-bg: #6f7a83"
    (menuClicked)="clickMenuOnChild()"
  ></app-bottom-nav>
</div>
