<div class="outer-div">
  <p
    (click)="onArticles()"
    id="no-shortcut"
    class="nav-articles"
    data-text="<N> "
  >
    notes
  </p>
  <p (click)="onReads()" id="no-shortcut" class="nav-reads" data-text="<R> ">
    reads
  </p>
  <p (click)="onMenu()" id="no-shortcut" class="nav-menu" data-text="<W> ">
    works
  </p>
  <p
    (click)="onConnect()"
    id="no-shortcut"
    class="nav-connect"
    data-text="<C> "
  >
    connect
  </p>
  <p (click)="onQuit()" id="no-shortcut" class="nav-quit" data-text="<Q> ">
    quit
  </p>
</div>
