p {
  color: #080a19;
}

.outer-div {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 40px;
  padding: 0px 20px;
  /* margin-bottom: 20px; */
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
  flex-shrink: 0;
  background: #c6c8c8;
}

p.disabled {
  color: #6f7a83;
}

@media (max-width: 512px) {
  p {
    font-size: smaller;
  }
}

@media (min-width: 768px) {
  #no-shortcut::before {
    content: attr(data-text);
  }
}
