.outer-container {
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
  padding: 20px;
  background: #010689;
  box-shadow: 10px 10px 0px 0px #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 512px; */
}

.inner-container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;
  border: 2px solid var(--Neutral4, #fff);
  background: none;
  gap: 20px;
}

.blue-outer-container {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* gap: 14px; */
  display: inline-flex;
  background: #010689;
}

.choose-div {
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  background: #010689;
}

.mode-div {
  /* width: 60px; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  background: #010689;
}

p {
  padding: 0px 5px;
  color: white;
}

.disabled {
  color: #6f7a83;
  cursor: default;
}

#hover-div:hover {
  background-color: #c6c8c8;
  color: black;
  cursor: pointer;
  /* padding: 0px 5px; */
}
