<div class="outer-container">
  <div class="inner-container">
    <div class="blue-outer-container">
      <div class="choose-div">
        <p>please choose:</p>
      </div>
    </div>
    <div class="mode-div">
      <div class="level-item">
        <p class="disabled" role="button">expert</p>
        <div class="disabled-popup">
          <p>Coming later!</p>
          <p>Probably around end of 2026.</p>
        </div>
      </div>
      <div class="level-item">
        <p class="disabled" role="button">medium</p>
        <div class="disabled-popup">
          <p>Coming later!</p>
          <p>Probably around beginning of 2026.</p>
        </div>
      </div>
      <p id="hover-div" role="button" (click)="onClick()">beginner</p>
    </div>
  </div>
</div>
