.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  height: 100%;
  max-height: 712px;
  overflow: hidden;
  padding: 0 20px 20px 20px;
  background: #c6c8c8;
  box-shadow: 20px 20px 0px 0px #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pointer {
  cursor: pointer;
}

.header {
  display: flex;
  width: 100%;
  background: none;
  justify-content: space-between;
}

.content-box {
  align-self: stretch;
  flex: 1 1 0;
  padding: 1rem 2rem;
  background: #c6c8c8;
  border: 2px #080a19 solid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.input-wrapper {
  justify-content: center;
  gap: 20px;
  display: inline-flex;
}

.password-group {
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  background: #c6c8c8;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.password-label {
  display: flex;
  align-items: end;
  text-align: center;
  height: 100%;
  color: #080a19;
  font-size: 20px;
  font-family: IBM Plex Mono;
  font-weight: 600;
  line-height: 28px;
  word-wrap: break-word;
  background: #c6c8c8;
  @media (max-width: 768px) {
    text-align: left;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
}

.hint-text {
  font-size: 14px;
  font-family: IBM Plex Mono;
  font-weight: 600;
  line-height: 20px;
  word-wrap: break-word;
  background: #c6c8c8;
  color: #6f7a83;
}

.password-input {
  background: black;
  color: white;
  height: 24px;
  max-width: 256px;
  font-size: 16px;
}
