<div class="outer-container">
  <div class="small-div">
    <!-- <small>{{ selectedArticle?.folder }}</small> -->
    <div class="traffic-lights">
      <svg
        class="traffic-lights-svg"
        width="52"
        height="12"
        viewBox="0 0 52 12"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          (click)="clickClose(sourceScreen)"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12Z"
          fill="#ef5747"
          class="svg-quit"
        />
        <circle
          cx="6"
          cy="6"
          r="20"
          fill="transparent"
          (click)="clickClose(sourceScreen)"
          class="hit-area"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M26 12C29.3137 12 32 9.31371 32 6C32 2.68629 29.3137 0 26 0C22.6863 0 20 2.68629 20 6C20 9.31371 22.6863 12 26 12Z"
          fill="#6F7A83"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M46 12C49.3137 12 52 9.31371 52 6C52 2.68629 49.3137 0 46 0C42.6863 0 40 2.68629 40 6C40 9.31371 42.6863 12 46 12Z"
          fill="#6F7A83"
        />
      </svg>
    </div>
    <div class="title-holder">
      <small class="desktop-only-title">{{ selectedArticle?.title }}</small>
      <small>&#64;</small>
      <small>{{ selectedArticle?.date }}</small>
    </div>
  </div>
  <div class="inner-container" #innerContainer>
    <div class="title">
      <h1 style="margin-bottom: 1rem">{{ selectedArticle?.title }}</h1>
    </div>
    <div class="title">
      <p>{{ selectedArticle?.subtitle }}</p>
    </div>
    <div class="horizontal-rule"></div>
    <!-- TODO: add article info -->
    <!-- <div class="article-info">
      <small
        >Original title: '{{ selectedArticle?.title }}' by
        {{ selectedArticle?.author }} published in
        {{ selectedArticle?.published }}</small
      >
    </div> -->
    <!-- Game of Life Container -->
    <div class="game-of-life-container" #articleBodyContainer></div>
    <div class="article-body-container">
      <div class="article-body" [innerHtml]="selectedArticle?.content"></div>
    </div>
    <div class="article-footer">
      <button class="back" (click)="clickClose(sourceScreen)">close ✕</button>
      <button class="next" (click)="clickNext()">next &rsaquo;</button>
    </div>
  </div>
  <div class="small-div">
    <small id="upvotes">upvotes: 2</small>
    <div class="tag-holder">
      @for (tag of selectedArticle?.tags ?? []; track tag) {
      <small>#{{ tag }}</small>
      } @empty {
      <small>N/A</small>
      }
      <!-- <small>{{
        selectedArticle?.tags && selectedArticle!.tags.length > 0
          ? "#" + selectedArticle!.tags[0]
          : ""
      }}</small> -->
    </div>
  </div>
</div>
