small {
  color: var(--text-color, #080a19);
}

p {
  color: var(--text-color, #080a19);
}

.svg-quit {
  cursor: none !important;
}

.horizontal-rule {
  background: none;
  border: none;
  border-top: 2px dotted var(--horizontal-rule-color, #080a19);
  height: 2px;
  width: 100%;
  margin: 20px 0;
}

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
  width: 100%;
  max-width: 1240px;
  min-height: 512px;
  height: calc(100vh - 80px);
  /* max-height: 624px; */
  margin: 40px 0px;
  /* overflow: hidden; */
  /* padding: 0 20px 0px 20px; */
  padding: 0px 20px 0px 20px;
  background: var(--outer-container-bg, #c6c8c8);
  box-shadow: 20px 20px 0px 0px #000;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* z-index: 1000; */
  @media (min-width: 650px) {
    height: 85%;
    position: absolute;
    top: 46.5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media (max-width: 650px) {
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.inner-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  border: 2px solid var(--inner-container-border, #080a19);
  background: var(--inner-container-bg, #c6c8c8);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  @media (min-width: 768px) {
    padding: 80px;
  }
  @media (min-width: 1024px) {
    padding: 80px 240px;
  }
}

.inner-container p {
  color: var(--text-color, #080a19);
}

.small-div {
  display: flex;
  width: 100%;
  gap: 8px;
  /* max-width: 100%;
  max-height: 100%; */
  /* flex-direction: flex-start; */
  background: none;
  /* justify-content: flex-end; */
  justify-content: space-between;
}

.title-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  gap: 8px;
}

.tag-holder {
  display: flex;
  gap: 16px;
  background: none;
}

.title {
  background: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  text-align: right;
}

.article-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  text-align: right;
  background: none;
  /* margin-bottom: 16px; */
}

.article-body-container {
  background: none;
}

.article-body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  /* overflow-x: hidden; */
  background: none;
  /* @media (min-width: 650px) {
    overflow-x: hidden;
  } */
}

.article-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  background: none;
}

#upvotes {
  opacity: 0;
}

.desktop-only-title {
  display: none; /* Hidden by default */
  @media (min-width: 650px) {
    display: block;
  }
}
