.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
  width: 100%;
  max-width: 380px;
  height: 312px;
  /* margin: 80px 40px; */
  overflow: hidden;
  padding: 0 20px 20px 20px;
  background: #6f7a83;
  box-shadow: 10px 10px 0px 0px #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 800; */
}

.inner-container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;
  border: 2px solid var(--Neutral1, white);
  background: none;
}

.small-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: none;
}

p {
  color: white;
  cursor: pointer;
}

small {
  color: white;
}

.svg-quit {
  cursor: pointer;
}

p:hover {
  background-color: #c6c8c8;
  color: black;
  padding: 0px 5px;
}

p.disabled {
  color: #c6c8c8;
}

p.disabled:hover {
  background-color: transparent;
  color: #c6c8c8;
}

.second-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
  width: 100%;
  max-width: 380px;
  height: 312px;
  /* margin: 80px 40px; */
  overflow: hidden;
  padding: 0 20px 20px 20px;
  background: #6f7a83;
  box-shadow: 10px 10px 0px 0px #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
  /* z-index: 900; */
}

.second-inner-container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  border: 2px solid var(--Neutral1, white);
  background: none;
}

@media (max-width: 512px) {
  .second-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content */
    width: 100%;
    max-width: 400px;
    height: 300px;
    /* margin: 0px 16px; */
    overflow: hidden;
    padding: 0 20px 20px 20px;
    background: #6f7a83;
    box-shadow: 10px 10px 0px 0px #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
}

@media (max-width: 768px) {
  p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: -0.0125rem;
  }
}

.article-title {
  white-space: nowrap; /* Keep text in a single line */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for overflow */
  max-width: 100%; /* Ensure it doesn't overflow container */
  cursor: pointer; /* Optional: shows it's clickable */
  align-self: stretch;
}

.submenu-back {
  align-self: center;
  cursor: pointer;
}

/* .svg-minimize {
  fill: white;
} */

/* .active {
  fill: #f7f457 !important;
} */
