p {
  color: var(--nav-color, #000);
}

.outer-div {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 40px;
  padding: 0px 20px;
  /* margin-bottom: 20px; */
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;

  display: inline-flex;
  flex-shrink: 0;
  background: var(--nav-bg, #c6c8c8);
  cursor: none !important;
}

.traffic-lights {
  width: 112px;
}

@media (max-width: 450px) {
  p {
    font-size: smaller;
  }
}
