<div class="heroDiv">
  @if (showLoadingScreen) {
  <app-loading-screen
    (skipLoadingScreenEvent)="onGrandchildSkipLoadingScreen()"
  ></app-loading-screen>
  } @if (showWelcomeScreen) {
  <app-welcome-screen
    (childEnterPressed)="onGrandchildEnterPressed()"
    (forwardToMainMenuScreenEvent)="onGrandchildMenuClick()"
  ></app-welcome-screen>
  } @if (showSelectModeScreen) {
  <app-select-mode-screen
    (buttonClickedFromChild)="onGrandchildButtonClick()"
    (skipLoadingScreenEvent)="onGrandchildMenuClick()"
  ></app-select-mode-screen>
  } @if (showPasswordScreen) {
  <app-password-screen
    (childInputSubmitted)="onGrandchildInputSubmitted()"
  ></app-password-screen>
  } @if (showMainMenuScreen) {
  <app-main-menu-screen
    (ArticleClickedFromChild)="onGrandchildArticleClick($event)"
    (connectClickedOnChild)="onGrandchildConnectClick()"
    (quitClickedOnChild)="onGrandchildQuitClick()"
  ></app-main-menu-screen>
  } @if (showAboutScreen) {
  <app-about-screen
    (menuClickedOnChild)="onGrandchildMenuClick()"
  ></app-about-screen>
  } @if (showQuitScreen) {
  <app-quit-screen
    (menuClickedOnChild)="onGrandchildMenuClick()"
  ></app-quit-screen>
  } @if (showArticleScreen) {
  <app-article-screen
    (connectClickedOnChild)="onGrandchildConnectClick()"
    (menuClickedOnChild)="onGrandchildMenuClick()"
    (shiftC)="onGrandchildShiftC()"
    (shiftM)="onGrandchildShiftM()"
    (goBackToSubmenu)="onGoBackToSubmenu()"
  ></app-article-screen
  >}

  <!-- <app-main-menu-screen
    (ArticleClickedFromChild)="onGrandchildArticleClick($event)"
    (connectClickedOnChild)="onGrandchildConnectClick()"
    (quitClickedOnChild)="onGrandchildQuitClick()"
  ></app-main-menu-screen>
  @if (showArticleScreen) {
  <app-article-screen
    (connectClickedOnChild)="onGrandchildConnectClick()"
    (menuClickedOnChild)="onGrandchildMenuClick()"
  ></app-article-screen
  >} -->
</div>
