<app-article-top-nav
  [sourceScreen]="'articles'"
  [style]="themeService.getTopNavStyles('articles')"
  (clickMenu)="clickMenuOnChild()"
  (clickArticles)="clickArticlesOnChild()"
  (clickConnect)="clickConnectOnChild()"
  (clickQuit)="clickQuitOnChild()"
  (clickReads)="clickReadsOnChild()"
></app-article-top-nav>
<app-articles-container
  [sourceScreen]="'articles'"
  [style]="themeService.getArticlesContainerStyles('articles')"
  (articleClicked)="onArticleClicked($event)"
  (closeArticlesClicked)="onCloseArticlesClicked()"
></app-articles-container>
<app-bottom-nav
  [sourceScreen]="'articles'"
  (menuClicked)="clickMenuOnChild()"
></app-bottom-nav>
