.welcome-screen {
  background: url(../../../assets/img/circle-blues.png) lightgray 0% 0% / 300px 300px repeat !important;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

p {
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
}
