<!-- <div class="heroDiv"> -->
<div class="heroDiv">
  <app-article-top-nav
    (clickArticles)="clickArticlesOnChild()"
    (clickConnect)="clickConnectOnChild()"
    (clickMenu)="clickMenuOnChild()"
    (clickQuit)="clickQuitOnChild()"
    (aPressed)="handleAPressed()"
    style="
      --nav-color: #000;
      --nav-bg: #c6c8c8;
      --nav-connect-color: #ffffff;
      --nav-connect-bg: #6f7a83;
    "
  ></app-article-top-nav>
  <app-about-container
    (closeSubmenuEvent)="clickMenuOnChild()"
  ></app-about-container>
  <app-bottom-nav
    style="--grey-div-color: #000; --nav-bg: #c6c8c8; --beta-bg: #6f7a83"
    (menuClicked)="clickMenuOnChild()"
  ></app-bottom-nav>
</div>
