<app-top-nav
  sourceScreen="personal"
  [style]="themeService.getTopNavStyles('personal')"
  [navTitle]="'creative writing'"
></app-top-nav>
<app-articles-container
  [sourceScreen]="'personal'"
  [style]="themeService.getArticlesContainerStyles('personal')"
  [containerTitle]="'creative writing'"
  (closeArticlesClicked)="clickCloseArticlesOnChild()"
  (articleClicked)="clickArticleOnChild($event)"
></app-articles-container>
<app-bottom-nav
  [sourceScreen]="'personal'"
  (menuClicked)="clickMenuOnChild()"
  (pClicked)="onBottomNavPClick()"
></app-bottom-nav>