<div class="icons-container">
  <!-- <div class="icon-container">
    <div
      class="icon-holder"
      style="margin-top: 100px; width: 54px; height: 54px"
      (dblclick)="clickWebappsScreen()"
    >
      <img
        src="assets/img/hidden-screen/webapps-icon.png"
        alt="webapps-icon"
      />
    </div>
    <small style="color: white">web design</small>
  </div> -->
  <div class="icon-container">
    <div
      class="icon-holder"
      (dblclick)="clickPersonalNotes()"
      (touchstart)="clickPersonalNotes()"
    >
      <img
        src="assets/img/hidden-screen/booknotes-icon.png"
        alt="booknotes-icon"
      />
    </div>
    <small style="color: white">personal <br> notes</small>
  </div>
</div>