<div class="hidden-apps-container">
<div class="icons-container">
  <div class="icon-container">
    <div
      class="icon-holder"
      (dblclick)="clickPersonalNotes()"
      (touchstart)="clickPersonalNotes()"
    >
      <img
        src="assets/img/hidden-screen/booknotes-icon.png"
        alt="booknotes-icon"
      />
    </div>
    <small style="color: white">creative <br> writing</small>
  </div>
</div>

@if (showPassword) {
  <app-password-container class="password-container"
    (inputSubmitted)="onPasswordSuccess()"
    (onClose)="onClosePasswordContainer()">
      </app-password-container>
}
</div>
