.hidden-apps-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: url(../../../assets/img/circle-blues.png) lightgray 0% 0% / 300px 300px repeat !important;
}

.icons-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: none !important;
  gap: 8px;
}

.icon-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: none;
}

small {
  width: 100%;
  text-align: center;
}

.password-container {
  /* position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}