<app-article-top-nav
  (clickConnect)="clickConnectOnChild()"
  (clickMenu)="clickMenuOnChild()"
  (clickQuit)="clickQuitOnChild()"
  (clickArticles)="clickArticlesOnChild()"
  (clickReads)="clickReadsOnChild()"
  [sourceScreen]="'main-menu'"
  [style]="themeService.getTopNavStyles('main-menu')"
></app-article-top-nav>

<div class="heroDiv">
  <!-- <p class="question">What makes a world-class App?</p> -->
  <app-menu-container
    (selectedArticle)="onChildClickArticle($event)"
    (clickConnect)="clickConnectOnChild()"
    (clickQuit)="clickQuitOnChild()"
    (clickMinimize)="clickMinimizeOnChild()"
    (clickMaximize)="clickMaximizeOnChild()"
  ></app-menu-container>
</div>
<app-bottom-nav
  [sourceScreen]="'main-menu'"
  (menuClicked)="clickMenuOnChild()"
></app-bottom-nav>
