<app-article-top-nav
  (clickConnect)="clickConnectOnChild()"
  (clickMenu)="clickMenuOnChild()"
  (clickQuit)="clickQuitOnChild()"
  (clickArticles)="clickArticlesOnChild()"
  (clickReads)="clickReadsOnChild()"
  style="--nav-menu-color: #ffffff; --nav-menu-bg: #6f7a83"
></app-article-top-nav>

<div class="heroDiv">
  <!-- <p class="question">What makes a world-class App?</p> -->
  <app-menu-container
    (selectedArticle)="onChildClickArticle($event)"
    (clickConnect)="clickConnectOnChild()"
    (clickQuit)="clickQuitOnChild()"
    (clickMinimize)="clickMinimizeOnChild()"
    (clickMaximize)="clickMaximizeOnChild()"
  ></app-menu-container>
</div>
<app-bottom-nav
  style="--nav-color: #000; --nav-bg: #c6c8c8; --beta-bg: #6f7a83"
></app-bottom-nav>
