.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #080a19;
  opacity: 1;
  pointer-events: none;
}

p {
  color: #6ffa1e;
  margin: 4rem;
}

#wake-up {
  opacity: 1;
}

#wake-up.fade-out {
  opacity: 0;
}

#the-matrix {
  opacity: 0;
  transition: opacity 1s ease-in;
}

#the-matrix:not(:empty) {
  opacity: 1;
}

#the-matrix.fade-in {
  opacity: 1;
}

#the-matrix.fade-out {
  opacity: 0;
}
