/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  /* height: 100%;
  width: 100%; */
  box-sizing: border-box;
  background: var(
    --bg,
    url(./assets/img/circle-blues.png) lightgray 0% 0% / 300px 300px repeat
  );
}

/* html,
body {
  height: 100%;
  width: 100%;
} */

img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 2rem auto; /* Center images by default */
  background: none;
}

img.whiteBoard {
  border: 8px solid #6f7a83;
  padding: 20px;
  box-shadow: 4px 4px 0px 0px #000;
  background: white;
}

/* img.noPadding {
  padding: 0px;
} */

/* img.noBg {
  border: none;
  box-shadow: none;
  background: none;
} */

/* Fonts */
h1 {
  font-family: "IBM Plex Mono";
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6rem; /* 100% */
  letter-spacing: -0.18rem;
  color: #080a19;
  background: none;
  margin: 3rem 0 1.5rem 0;
}

h1.mt-1 {
  margin-top: 1rem;
}

h2 {
  font-family: "IBM Plex Mono";
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4rem;
  letter-spacing: -0.1rem;
  color: #080a19;
  background: none;
  margin-top: 4rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-family: "IBM Plex Mono";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: -0.05rem;
  color: #080a19;
  background: none;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

h6 {
  font-family: "IBM Plex Mono";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.0125rem;
  color: #080a19;
  background: none;
  margin-top: 2rem;
}

p {
  font-family: "IBM Plex Mono";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: -0.0125rem;
  color: #080a19;
  background: none;
}

p.article {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  color: #080a19;
  background: none;

  /* Desktop styles */
  font-size: 1.25rem;
  line-height: 1.6;

  /* Mobile styles */
  @media screen and (max-width: 768px) {
    font-size: 1rem; /* Slightly smaller for mobile */
    line-height: 1.5; /* Tighter line height for mobile */
  }
}

p.mb-2 {
  margin-bottom: 2rem;
}

s {
  background: none;
}

small {
  font-family: "IBM Plex Mono";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: -0.00875rem;
  color: #080a19;
  background: none;
}

a {
  background: none;
  color: #010689;
}

blockquote {
  font-family: "IBM Plex Mono";
  font-size: 1.25rem;
  /* font-style: italic; */
  font-weight: 500;
  line-height: 2rem; /* 133% */
  letter-spacing: -0.0125rem;
  color: #080a19;
  /* background: #6f7a83; */
  background: none;
  border-left: 3px solid #080a19;
  padding-left: 1rem;
  margin: 2rem 0; /* 2rem top and bottom, 0 left and right */
}

code {
  display: block;
  background: #000000;
  font-family: "IBM Plex Mono";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  color: #6ffa1e;
  padding: 0.2rem 0.4rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

code::selection {
  background-color: rgba(
    111,
    250,
    30,
    0.2
  ); /* Green background on text select */
}

ul,
ol {
  font-family: "IBM Plex Mono";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 140% */
  letter-spacing: -0.0125rem;
  color: #080a19;
  background: none;
  margin: 1rem 0;
  padding-left: 2rem;
}

li {
  background: none;
  margin-bottom: 0.5rem;
}

strong {
  background: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 2rem;
    line-height: 2rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: -0.0125rem;
  }
  blockquote {
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: -0.0125rem;
  }

  ul,
  ol,
  li {
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: -0.0125rem;
  }
}

.traffic-lights {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

svg.traffic-lights-svg {
  background: none;
}
