<div class="outer-container">
  <div class="small-div">
    <div class="traffic-lights" role="button">
      <svg
        class="traffic-lights-svg"
        role="button"
        width="52"
        height="12"
        viewBox="0 0 52 12"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12Z"
          fill="#ef5747"
          (click)="closeArticles()"
          class="svg-quit"
        />
        <circle
          cx="6"
          cy="6"
          r="20"
          fill="transparent"
          (click)="closeArticles()"
          class="hit-area"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M26 12C29.3137 12 32 9.31371 32 6C32 2.68629 29.3137 0 26 0C22.6863 0 20 2.68629 20 6C20 9.31371 22.6863 12 26 12Z"
          fill="rgba(111, 250, 30, 0.5)"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M46 12C49.3137 12 52 9.31371 52 6C52 2.68629 49.3137 0 46 0C42.6863 0 40 2.68629 40 6C40 9.31371 42.6863 12 46 12Z"
          fill="rgba(111, 250, 30, 0.5)"
        />
      </svg>
    </div>
    <small style="color: rgba(111, 250, 30, 0.5);"> {{ containerTitle }} </small>
  </div>
  <div class="inner-container">
    <div class="article-container">
      <div class="article-items">
        @for (article of articles; track article.title) {
        <div class="article-item" (click)="selectArticle(article)" role="button">
          <div class="article-holder">
            <p class="article-title" [style.color]="getArticleColor(article)">{{ article.title.toLowerCase() }}</p>
          </div>
          <div class="hr"></div>
          <div class="article-details">
            <p class="article-subfolder" [style.color]="getArticleColor(article)">{{ article.subFolder[0] }}</p>
            <p class="article-subsubfolder" [style.color]="getArticleColor(article)">{{ article.subSubFolder[0] }}</p>
            <p class="article-date" [style.color]="getArticleColor(article)">{{ article.date }}</p>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
  <!-- BOOKNOTES FILTERED -->
  <!-- <div class="inner-container">
    <div class="article-container">
      <div class="article-items">
        @for (article of articles; track article.title) { @if (article.folder
        !== 'booknotes') {
        <div class="article-item" (click)="selectArticle(article)">
          <div class="article-holder">
            <p class="article-title">{{ article.title.toLowerCase() }}</p>
          </div>
          <div class="hr"></div>
          <div class="article-details">
            <p class="article-tags">{{ article.tags }}</p>
            <p class="article-folder">{{ article.folder }}</p>
            <p class="article-date">{{ article.date }}</p>
          </div>
        </div>
        } }
      </div>
    </div>
  </div> -->
</div>
